.photo-id{
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(190, 221, 221);
    margin: 0;
    padding: 0;
}
#tweetImage{
    margin: 0;
    padding: 0;
}